body {
    font-size: 18px;
    line-height: 1.5;
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
    font-family: 'Fraunces', serif;
}

header {
    background-color: yellow;
    color: blue;
    text-align: center;
    padding: 1.0rem;
    border-radius: 10px;
}

p img {
    float: center;
    margin: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

footer {
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 1.0rem;
    border-radius: 10px;
}

h2 {
    font-family: 'Roboto';
    display: block;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

span {
    font-weight: 200;
    color: blue;
}
p{
    font-weight: 200;
    color: blue;
}