/* large css for lesson 7 image gallery */

@media only screen and (min-width: 1000px){
    footer, header, nav {
        width: 800px;
    }   
    
    #column, img {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card:hover {
        box-shadow: 5px 5px 5px grey;
        background-color: lightgray;
    }
}