/* small css file for lazyload images*/

header {
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: lightblue;
}

picture img {
    display: block;
    margin: 0 auto;
    padding: 10px;
    filter: blur(0);
    transition: filter 1s;
}

picture img[data-src] {
    filter: blur(0.25em);
}