/* small css file for lesson 4*/

body {
    font-family: 'Poppins', sans-serif;
}

header {
    justify-content: center;
    justify-content: center;
    display: inline-flexbox;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    background-color: lightblue;
}

img {
    float: right;
}


.navigation li:first-child {
    text-align: center;
    display: block; 
}

nav ul {
    padding: 0;
}

nav li {
    display: none;
}

a {
    text-decoration: none;
}

section {
    text-align: center;
}

.response li {
    display: block;
    text-align: center;
}

.response nav li {
    display: block;
}

section div{
    padding: 20px;
    border-style: double;
    background-color: lightcyan;
}

footer {
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    background-color: lightgrey;
}

footer a, #year {
    display: inline-block;
}