/* medium css file for lesson 9*/

@media only screen and (min-width: 650px){
    
    footer, header, main, nav {
        margin: 0 auto;
        display: block;
        width: 575px;
        text-align: center;
    }

    .content img {
        width: 100%;
    }

    .cards section  {
        display: flex;  
        flex-direction: row; 
        padding: 10px;    
    }

    .cards section:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .contact img {
        display: inline-flex;
        width: 20%;
        float: left;
    }

    .contact p {
        text-align: right;
    }

    .article img {
        display: inline-flex;
        width: 25%; 
        float: right;
    }

    .navigation  li:first-child{
        display: none;
    }

    nav ul li {
        margin: 0 auto;
    }

    .response, .navigation li {
        display: flex;
        background-color: darkblue;
        text-align: center; 
    }

    .navigation {
        display: flex;
        background-color: darkblue;
    }

    a:hover{
        text-decoration: underline;
        background-color: white;
        color: black;
    }       

    nav li a {
        color:white;
        padding: 10px;
    }

}