/* small css for lesson 8 form build */

body {
    font-family: 'Ubuntu', sans-serif;
}

header {
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    background-color: lightblue;
}

#announcement, #display{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

header img {
    float: right;
}

#form {
    text-align: center;
    background-color: lightgreen;
    width: 375px;
    margin: 0 auto;
}

h3 {
    text-align: left;
}

/* Navigation */
.navigation li:first-child {
    text-align: center;
    display: block; 
    text-decoration: none;
}

.active {
    background-color: lightblue;
    font-weight: bold;
    text-decoration: underline;
}

nav ul {
    padding: 0;
}

nav li {
    display: none;
}

nav li a:hover{
    text-decoration: underline;
    color: black;
}

a {
    text-decoration: none;
}

.response li {
    display: block;
    text-align: center;    
}

.response nav li {
    display: block;
}
/*End navigation*/

footer {
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    background-color: lightgrey;
}

footer a, #year {
    display: inline-block;
}